<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="../CSS/index.css">
    <title>Reading Room</title>
    <link rel = "icon" href = "https://en.pimg.jp/019/833/791/1/19833791.jpg" type = "image/x-icon"> 
</head>
<body>
    <%- include('./page-partials/navbar.ejs') %>
    <marquee width=100% direction="left" height="60px" style="margin-top: -40px; background-color: #AAAAAA;">
        <h1 style="color: #000000;">Welcome To Prime Reading Room</h1>
    </marquee>
    <div id="header" style="margin-top: -40px;">
        <div class="container">      
            <div class="row" style="margin-bottom:30px">
            <div class="col-sm-5 col-sm-offset-2">
                <h1>Open Hours</h1>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-5 col-sm-offset-2">
                <p>For the Reading Room Library:</p>
                <br>
                <p>Mondays 18:00-20:00</p>
                <p>Tuesdays 14:00-16:00</p>
                <p>Fridays 12:00-14:00</p>
                <br><br>
            </div>
            <div class="col-sm-5">
                <p>For the Department Library:</p>
                <br>
                <p>Fridays 12:00-14:00</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <%- include('./partials/footer.ejs') %>
</body>
</html>