<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="../CSS/index.css">
</head>
<body>
    <%- include('./page-partials/navbar.ejs') %>
    <marquee width=100% direction="left" height="60px" class="marquee">
        <h1 style="color: #000000;">Welcome To Prime Reading Room</h1>
    </marquee>
    <div class="containerv">
        <div class="innerv">
            <table class="center">
                <tr>
                    <th><h1>Open Hours</h1></th>
                </tr>
                <tr>
                    <td>Mondays 18:00-20:00</td>
                    <td>For the Department Library:</td>
                </tr>
                <tr>
                    <td>Tuesdays 14:00-16:00</td>
                    <td>Fridays 12:00-14:00</td>
                </tr>
                <tr>
                    <td>Fridays 12:00-14:00</td>
                </tr>
            </table>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>