<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/header.ejs') %>
        <link rel="stylesheet" href="../CSS/login.css"> 
    </head> 
    <body>
        <%- include('./page-partials/navbar.ejs') %>
        <div id="form">
        <form action="#">
            <label for="fname">Username:</label><br>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email"><br><br>
            <label for="pass">Password:</label><br>
            <input type="password" id="pass" name="Password" ><br><br>
            <input type="submit" value="Submit">
        </form> 
        </div>
    </body>
</html>